.home{
    padding-top: 10px;
    color: rgba(241, 242, 245, 0.993);
    font-family: Cambria;
    font-style: normal;
    font-size: 50px;
}

.body
{
    background-color: black;
    margin-top: 50px;
}