.home{
    padding-top: 10px;
    font-family: Cambria;
    font-style: normal;
    font-size: 50px;
}

.teacher{
    margin-top: 100px;
    float: left;
    margin-left: 200px;
    
}

.line{
    display: inline-block;
    height: 500px;
    border-left: 3px solid black;
}

.student{
    margin-top: 100px;
    float: right;
    margin-right: 200px;
}

.body
{
    margin-top: 50px;
}



